Makefile.in
perf/Makefile.in
src/Makefile.in
Makefile
aclocal.m4
autom4te.cache
autoscan.log
configure
config.log
config.status
configure.scan
libtool
*.stamp
stamp-*
*.class
.deps
.libs
*.la
*.o
*.lo
*~
src/main/c++/config.hpp.in
src/main/c++/config.hpp
src/main/c++/org_zeromq_*.h
lib/
target/
.classpath
.idea
.project
.settings/
build-stamp
configure-stamp
*.opensdf
*.sdf
*.vcxproj.user
jzmq-jni/builds/msvc/.vs
jzmq-jni/builds/msvc/Debug/
jzmq-jni/builds/msvc/msvc.ncb
jzmq-jni/builds/msvc/msvc.suo
jzmq-jni/src/main/c++/org_zeromq_*.h
jzmq-jni/builds/msvc/local_lat/local_lat.vcproj.*
jzmq-jni/builds/msvc/local_thr/local_thr.vcproj.*
jzmq-jni/builds/msvc/remote_lat/remote_lat.vcproj.*
jzmq-jni/builds/msvc/remote_thr/remote_thr.vcproj.*
jzmq-jni/builds/msvc/jzmq/Debug/
jzmq-jni/builds/msvc/local_lat/Debug/
jzmq-jni/builds/msvc/local_thr/Debug/
jzmq-jni/builds/msvc/remote_lat/Debug/
jzmq-jni/builds/msvc/remote_thr/Debug/
jzmq-jni/builds/msvc/jzmq/Release/
jzmq-jni/builds/msvc/local_lat/Release/
jzmq-jni/builds/msvc/local_thr/Release/
jzmq-jni/builds/msvc/remote_lat/Release/
jzmq-jni/builds/msvc/remote_thr/Release/
debian/files
debian/jzmq.debhelper.log
debian/jzmq.postinst.debhelper
debian/jzmq.postrm.debhelper
debian/jzmq.substvars
debian/jzmq/
debian/tmp/
.DS_Store
*.iml
config/
build/
builds/msvc/Debug/
builds/msvc/Release/
builds/msvc/UpgradeLog.XML
builds/msvc/_UpgradeReport_Files/
builds/msvc/jzmq/*.dll
builds/msvc/jzmq/jzmq.vcxproj*
builds/msvc/msvc.sdf
builds/msvc/*.lib
builds/msvc/*.dll
builds/msvc/local_lat/local_lat.vcxproj*
builds/msvc/local_thr/local_thr.vcxproj*
builds/msvc/remote_lat/remote_lat.vcxproj*
builds/msvc/remote_thr/remote_thr.vcxproj*
perf/*.dll
\#*
.\#*
*.jar
INSTALL
.checkstyle
javac_stamp
javah_stamp
.tags*
*.sublime-project
*.sublime-workspace
